doctype html
html
  head
    meta(name="baidu_union_verify" content="bd54fabcc57b65483d9c23a99196b53b")
    meta(property="wb:webmaster" content="cdb09624235cc9ba")
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no")
    title= title
    link(rel='stylesheet', href='//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//cdn.bootcss.com/zepto/1.1.7/zepto.min.js")
    script(src="/javascripts/libs/fetch.js")
  body
    block content
