extends layout

block content
    #slider(style="height:100%;")
    link(href="//be-fe.github.io/iSlider/demo/public/css/iSlider.css", rel="stylesheet")
    script(src="//be-fe.github.io/iSlider/demo/public/js/iSlider.min.js")
    script(src="//be-fe.github.io/iSlider/demo/public/js/iSlider.animate.min.js")
    script(src="/javascripts/slider.js")